---
const { title } = Astro.props;
---

<h1 class="hero-title">{title}</h1>

<style>
  .hero-title {
    font-size: 4.6em;
    font-family: "Poppins-Bold";
    color: #fff;
    margin: 0;
    text-align: center;
    font-weight: bold;
    padding: 2rem 2rem 0 2rem;
    line-height: 4rem;
    letter-spacing: 0.1rem;
  }
</style>
