---
import { secondSectionData } from "../../lib/homeData";
---

<div class="home-container" id="home2">
  <h1 class="title">Predai</h1>
  <h4 class="subheading">
    Cei mai buni profesori folosesc educația deliberativă la clasă. Intră aici
    sa afli cum poți fi printre ei
  </h4>
  <div class="scroll-container2">
    {
      secondSectionData.map((secondSection, index) => {
        if (index === 2)
          return (
            <div class="box-container" id="center-box">
              <div class="box-content">
                <div class="icon">
                  <svg
                    width="57"
                    height="51"
                    viewBox="0 0 57 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M50.375 0.5C52.0326 0.5 53.6223 1.15848 54.7944 2.33058C55.9665 3.50268 56.625 5.0924 56.625 6.75V44.25C56.625 45.9076 55.9665 47.4973 54.7944 48.6694C53.6223 49.8415 52.0326 50.5 50.375 50.5H6.625C4.9674 50.5 3.37768 49.8415 2.20558 48.6694C1.03348 47.4973 0.375 45.9076 0.375 44.25V6.75C0.375 5.0924 1.03348 3.50268 2.20558 2.33058C3.37768 1.15848 4.9674 0.5 6.625 0.5H50.375ZM50.375 25.5H6.625V44.25H50.375V25.5ZM50.375 6.75H6.625V19.25H50.375V6.75ZM12.875 9.875C13.7038 9.875 14.4987 10.2042 15.0847 10.7903C15.6708 11.3763 16 12.1712 16 13C16 13.8288 15.6708 14.6237 15.0847 15.2097C14.4987 15.7958 13.7038 16.125 12.875 16.125C12.0462 16.125 11.2513 15.7958 10.6653 15.2097C10.0792 14.6237 9.75 13.8288 9.75 13C9.75 12.1712 10.0792 11.3763 10.6653 10.7903C11.2513 10.2042 12.0462 9.875 12.875 9.875ZM22.25 9.875C23.0788 9.875 23.8737 10.2042 24.4597 10.7903C25.0458 11.3763 25.375 12.1712 25.375 13C25.375 13.8288 25.0458 14.6237 24.4597 15.2097C23.8737 15.7958 23.0788 16.125 22.25 16.125C21.4212 16.125 20.6263 15.7958 20.0403 15.2097C19.4542 14.6237 19.125 13.8288 19.125 13C19.125 12.1712 19.4542 11.3763 20.0403 10.7903C20.6263 10.2042 21.4212 9.875 22.25 9.875ZM31.625 9.875C32.4538 9.875 33.2487 10.2042 33.8347 10.7903C34.4208 11.3763 34.75 12.1712 34.75 13C34.75 13.8288 34.4208 14.6237 33.8347 15.2097C33.2487 15.7958 32.4538 16.125 31.625 16.125C30.7962 16.125 30.0013 15.7958 29.4153 15.2097C28.8292 14.6237 28.5 13.8288 28.5 13C28.5 12.1712 28.8292 11.3763 29.4153 10.7903C30.0013 10.2042 30.7962 9.875 31.625 9.875Z"
                      fill="#D1D2DB"
                    />
                  </svg>
                </div>
                <h2 class="heading">{secondSection.title}</h2>
                <h4 class="description">{secondSection.description}</h4>

                <div class="box-button">
                  <h4>READ MORE</h4>
                  <div class="arrow">
                    <svg
                      width="22"
                      height="24"
                      viewBox="0 0 22 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M21.0607 13.0607C21.6464 12.4749 21.6464 11.5251 21.0607 10.9393L11.5147 1.3934C10.9289 0.807611 9.97919 0.807611 9.3934 1.3934C8.80761 1.97919 8.80761 2.92893 9.3934 3.51472L17.8787 12L9.3934 20.4853C8.80761 21.0711 8.80761 22.0208 9.3934 22.6066C9.97919 23.1924 10.9289 23.1924 11.5147 22.6066L21.0607 13.0607ZM0 13.5H20V10.5H0V13.5Z"
                        fill="#D1D2DB"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          );
        else
          return (
            <div class="box-container">
              <div class="box-content">
                <div class="icon">
                  <svg
                    width="57"
                    height="51"
                    viewBox="0 0 57 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M50.375 0.5C52.0326 0.5 53.6223 1.15848 54.7944 2.33058C55.9665 3.50268 56.625 5.0924 56.625 6.75V44.25C56.625 45.9076 55.9665 47.4973 54.7944 48.6694C53.6223 49.8415 52.0326 50.5 50.375 50.5H6.625C4.9674 50.5 3.37768 49.8415 2.20558 48.6694C1.03348 47.4973 0.375 45.9076 0.375 44.25V6.75C0.375 5.0924 1.03348 3.50268 2.20558 2.33058C3.37768 1.15848 4.9674 0.5 6.625 0.5H50.375ZM50.375 25.5H6.625V44.25H50.375V25.5ZM50.375 6.75H6.625V19.25H50.375V6.75ZM12.875 9.875C13.7038 9.875 14.4987 10.2042 15.0847 10.7903C15.6708 11.3763 16 12.1712 16 13C16 13.8288 15.6708 14.6237 15.0847 15.2097C14.4987 15.7958 13.7038 16.125 12.875 16.125C12.0462 16.125 11.2513 15.7958 10.6653 15.2097C10.0792 14.6237 9.75 13.8288 9.75 13C9.75 12.1712 10.0792 11.3763 10.6653 10.7903C11.2513 10.2042 12.0462 9.875 12.875 9.875ZM22.25 9.875C23.0788 9.875 23.8737 10.2042 24.4597 10.7903C25.0458 11.3763 25.375 12.1712 25.375 13C25.375 13.8288 25.0458 14.6237 24.4597 15.2097C23.8737 15.7958 23.0788 16.125 22.25 16.125C21.4212 16.125 20.6263 15.7958 20.0403 15.2097C19.4542 14.6237 19.125 13.8288 19.125 13C19.125 12.1712 19.4542 11.3763 20.0403 10.7903C20.6263 10.2042 21.4212 9.875 22.25 9.875ZM31.625 9.875C32.4538 9.875 33.2487 10.2042 33.8347 10.7903C34.4208 11.3763 34.75 12.1712 34.75 13C34.75 13.8288 34.4208 14.6237 33.8347 15.2097C33.2487 15.7958 32.4538 16.125 31.625 16.125C30.7962 16.125 30.0013 15.7958 29.4153 15.2097C28.8292 14.6237 28.5 13.8288 28.5 13C28.5 12.1712 28.8292 11.3763 29.4153 10.7903C30.0013 10.2042 30.7962 9.875 31.625 9.875Z"
                      fill="#D1D2DB"
                    />
                  </svg>
                </div>
                <h2 class="heading">{secondSection.title}</h2>
                <h4 class="description">{secondSection.description}</h4>

                <div class="box-button">
                  <h4>READ MORE</h4>
                  <div class="arrow">
                    <svg
                      width="22"
                      height="24"
                      viewBox="0 0 22 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M21.0607 13.0607C21.6464 12.4749 21.6464 11.5251 21.0607 10.9393L11.5147 1.3934C10.9289 0.807611 9.97919 0.807611 9.3934 1.3934C8.80761 1.97919 8.80761 2.92893 9.3934 3.51472L17.8787 12L9.3934 20.4853C8.80761 21.0711 8.80761 22.0208 9.3934 22.6066C9.97919 23.1924 10.9289 23.1924 11.5147 22.6066L21.0607 13.0607ZM0 13.5H20V10.5H0V13.5Z"
                        fill="#D1D2DB"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          );
      })
    }
  </div>
</div>

<script is:inline>
  const homeContainer = document.getElementById("home2");
  const scrollContainer = document.querySelector(".scroll-container2");
  homeContainer.addEventListener("mouseenter", () => {
    setTimeout(() => {
      scrollContainer.scrollTo({
        left: scrollContainer.scrollWidth / 2 - scrollContainer.clientWidth / 2,
        behavior: "smooth",
      });
    }, 1000);
  });
</script>

<style>
  .home-container {
    background-image: url("../../images/home-section-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 82em;
    align-items: center;
    text-align: center;
  }
  .scroll-container2 {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 1em;
  }
  h1 {
    color: #fff;
    font-size: 2.4rem;
    margin: 0;
    padding-top: 1em;
  }

  h4.subheading {
    color: #adadad;
    font-size: 1.1rem;
    padding: 0 3em;
    line-height: 1.4em;
  }

  .icon {
    margin-top: 6em;
  }
  .box-container {
    position: relative;
    display: inline-block;
    margin: 0 10px;
  }
  .box-content {
    border-radius: 0.5em;
    border: 1px solid #6b6f8a;
    height: 50em;
    margin: auto;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 30em;
  }

  h2.heading {
    color: #d1d2db;
    font-size: 2rem;
    margin: 0.4em 0.5em 0.4em 0.5em;
  }
  h4.description {
    color: #adadad;
    font-size: 1.1rem;
    line-height: 1.4em;
    margin-top: 0.5em;
    padding: 0 2em;
  }

  .box-button {
    position: absolute;
    bottom: 2em;
    left: 20%;
    align-items: center;
    border-radius: 0.5em;
    border: 1px solid #6b6f8a;
    display: flex;
    flex-direction: row;
    height: 4em;
    padding: 0.2em 1.2em;
    margin: 4em auto 0 auto;
    width: 15em;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  .box-button:hover {
    background-color: #25262d;
  }
  h4 {
    color: #d1d2db;
    font-size: 1.1rem;
    padding-right: 0.6em;
  }
  .scroll-container2::-webkit-scrollbar {
    width: 12px;
  }
  .scroll-container2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .scroll-container2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(148, 148, 148);
  }
  @media only screen and (min-width: 680px) {
    .box-content {
      width: 34em;
    }
    .box-button {
      left: 24%;
    }
    .home-container {
      background-image: url("../../images/home-section-2-tablet.png");
    }
    h4.subheading {
      padding: 0 5em;
      font-size: 1.3rem;
    }
    h4.description {
      font-size: 1.2rem;
    }
    h2.heading {
      color: #d1d2db;
      font-size: 1.7rem;
    }
    h1 {
      font-size: 2.6rem;
    }
  }
  @media only screen and (min-width: 1024px) {
    .home-container {
      z-index: 2;
      display: flex;
      height: 80.1em;
      flex: 1;
      position: relative;
      justify-content: center;
      overflow: hidden;
      background-image: url("../../images/home-section-2-desktop.png");
      transition: transform 1s, filter 1.5s;
    }
    .home-container .title {
      display: none;
    }
    .subheading {
      display: none;
    }
    .box-container {
      display: none;
    }
    .scroll-container2 {
      display: none;
    }
    .home-container:hover {
      flex-grow: 3.5;
      background-image: url("../../images/home-section-2-zoom.png");
      transition: all 1s ease-in;
    }

    .home-container:hover .title {
      display: block;
      position: absolute;
      opacity: 0;
      animation: onDisplay 0s 1s forwards;
      top: 0;
    }

    .home-container:hover .subheading {
      display: block;
      position: absolute;
      top: 4.5em;
      opacity: 0;
      animation: onDisplay 0s 1s forwards;
    }

    .home-container:hover .scroll-container2 {
      display: flex;
    }
    .home-container:hover .box-container {
      display: inline-block;
      opacity: 0;
      animation: onDisplay 0s 1s forwards;
    }
    .box-content {
      width: 30em;
      margin-top: 20em;
    }
    h4.description {
      color: #adadad;
      font-size: 1rem;
      line-height: 1.4em;
      margin-top: 0.5em;
      padding: 0 2em;
    }
    .icon {
      margin-top: 4em;
    }
    @keyframes onDisplay {
      to {
        opacity: 1;
      }
    }
  }
</style>
