---
import { thirdSectionData } from "../../lib/homeData";
---

<section>
  <div class="home-container">
    <h1>Predai</h1>
    <h4 class="subheading">
      Cei mai buni profesori folosesc educația deliberativă la clasă. Intră aici
      sa afli cum poți fi printre ei
    </h4>
    <div class="scroll-container">
      {
        thirdSectionData.map((secondSection, index) => {
          if (index === 1)
            return (
              <div class="box-container" id="box">
                <div class="box-content">
                  <div class="icon">
                    <svg
                      width="40"
                      height="52"
                      viewBox="0 0 40 52"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M26.2279 25.8258C27.4745 23.8573 27.9835 21.4692 27.6557 19.1262C27.3278 16.7831 26.1867 14.6528 24.4544 13.1496C22.722 11.6464 20.5223 10.878 18.2834 10.9938C16.0444 11.1096 13.9262 12.1014 12.3411 13.7762C10.7561 15.451 9.81737 17.689 9.70775 20.0546C9.59813 22.4203 10.3254 24.7444 11.7481 26.5748C13.1708 28.4052 15.1871 29.6108 17.4046 29.9572C19.6222 30.3036 21.8824 29.7658 23.7455 28.4486L29.7479 34.7881L29.9103 34.9367L29.9297 34.952C30.2859 35.225 30.7262 35.3467 31.1633 35.2929C31.6004 35.2391 32.0025 35.0138 32.2897 34.6616C32.577 34.3094 32.7286 33.856 32.7145 33.3913C32.7003 32.9265 32.5215 32.4844 32.2133 32.1524L26.2255 25.8258H26.2279ZM18.7248 14.6888C20.1885 14.6888 21.5922 15.3031 22.6272 16.3967C23.6622 17.4902 24.2436 18.9733 24.2436 20.5198C24.2436 22.0663 23.6622 23.5494 22.6272 24.643C21.5922 25.7365 20.1885 26.3509 18.7248 26.3509C17.2612 26.3509 15.8574 25.7365 14.8225 24.643C13.7875 23.5494 13.2061 22.0663 13.2061 20.5198C13.2061 18.9733 13.7875 17.4902 14.8225 16.3967C15.8574 15.3031 17.2612 14.6888 18.7248 14.6888V14.6888ZM6.06061 0.736816C4.45323 0.736816 2.91169 1.41147 1.77511 2.61236C0.638526 3.81325 0 5.44201 0 7.14033V45.5614C0 47.2597 0.638526 48.8885 1.77511 50.0893C2.91169 51.2902 4.45323 51.9649 6.06061 51.9649H38.1818C38.664 51.9649 39.1265 51.7625 39.4675 51.4022C39.8084 51.042 40 50.5533 40 50.0438C40 49.5343 39.8084 49.0457 39.4675 48.6854C39.1265 48.3252 38.664 48.1228 38.1818 48.1228H6.06061C5.41766 48.1228 4.80104 47.8529 4.34641 47.3726C3.89177 46.8922 3.63636 46.2407 3.63636 45.5614H38.1818C38.664 45.5614 39.1265 45.359 39.4675 44.9987C39.8084 44.6384 40 44.1498 40 43.6403V7.14033C40 6.2994 39.8432 5.46672 39.5387 4.68981C39.2341 3.9129 38.7877 3.20698 38.2249 2.61236C37.6621 2.01774 36.994 1.54606 36.2587 1.22425C35.5234 0.902448 34.7353 0.736816 33.9394 0.736816H6.06061ZM36.3636 41.7193H3.63636V7.14033C3.63636 6.461 3.89177 5.8095 4.34641 5.32914C4.80104 4.84878 5.41766 4.57892 6.06061 4.57892H33.9394C34.5823 4.57892 35.199 4.84878 35.6536 5.32914C36.1082 5.8095 36.3636 6.461 36.3636 7.14033V41.7193Z"
                        fill="#D1D2DB"
                      />
                    </svg>
                  </div>
                  <h2 class="heading">{secondSection.title}</h2>
                  <h4 class="description">{secondSection.description}</h4>

                  <div class="box-button">
                    <h4>READ MORE</h4>
                    <div class="arrow">
                      <svg
                        width="22"
                        height="24"
                        viewBox="0 0 22 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M21.0607 13.0607C21.6464 12.4749 21.6464 11.5251 21.0607 10.9393L11.5147 1.3934C10.9289 0.807611 9.97919 0.807611 9.3934 1.3934C8.80761 1.97919 8.80761 2.92893 9.3934 3.51472L17.8787 12L9.3934 20.4853C8.80761 21.0711 8.80761 22.0208 9.3934 22.6066C9.97919 23.1924 10.9289 23.1924 11.5147 22.6066L21.0607 13.0607ZM0 13.5H20V10.5H0V13.5Z"
                          fill="#D1D2DB"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            );
          else
            return (
              <div class="box-container">
                <div class="box-content">
                  <div class="icon">
                    <svg
                      width="40"
                      height="52"
                      viewBox="0 0 40 52"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M26.2279 25.8258C27.4745 23.8573 27.9835 21.4692 27.6557 19.1262C27.3278 16.7831 26.1867 14.6528 24.4544 13.1496C22.722 11.6464 20.5223 10.878 18.2834 10.9938C16.0444 11.1096 13.9262 12.1014 12.3411 13.7762C10.7561 15.451 9.81737 17.689 9.70775 20.0546C9.59813 22.4203 10.3254 24.7444 11.7481 26.5748C13.1708 28.4052 15.1871 29.6108 17.4046 29.9572C19.6222 30.3036 21.8824 29.7658 23.7455 28.4486L29.7479 34.7881L29.9103 34.9367L29.9297 34.952C30.2859 35.225 30.7262 35.3467 31.1633 35.2929C31.6004 35.2391 32.0025 35.0138 32.2897 34.6616C32.577 34.3094 32.7286 33.856 32.7145 33.3913C32.7003 32.9265 32.5215 32.4844 32.2133 32.1524L26.2255 25.8258H26.2279ZM18.7248 14.6888C20.1885 14.6888 21.5922 15.3031 22.6272 16.3967C23.6622 17.4902 24.2436 18.9733 24.2436 20.5198C24.2436 22.0663 23.6622 23.5494 22.6272 24.643C21.5922 25.7365 20.1885 26.3509 18.7248 26.3509C17.2612 26.3509 15.8574 25.7365 14.8225 24.643C13.7875 23.5494 13.2061 22.0663 13.2061 20.5198C13.2061 18.9733 13.7875 17.4902 14.8225 16.3967C15.8574 15.3031 17.2612 14.6888 18.7248 14.6888V14.6888ZM6.06061 0.736816C4.45323 0.736816 2.91169 1.41147 1.77511 2.61236C0.638526 3.81325 0 5.44201 0 7.14033V45.5614C0 47.2597 0.638526 48.8885 1.77511 50.0893C2.91169 51.2902 4.45323 51.9649 6.06061 51.9649H38.1818C38.664 51.9649 39.1265 51.7625 39.4675 51.4022C39.8084 51.042 40 50.5533 40 50.0438C40 49.5343 39.8084 49.0457 39.4675 48.6854C39.1265 48.3252 38.664 48.1228 38.1818 48.1228H6.06061C5.41766 48.1228 4.80104 47.8529 4.34641 47.3726C3.89177 46.8922 3.63636 46.2407 3.63636 45.5614H38.1818C38.664 45.5614 39.1265 45.359 39.4675 44.9987C39.8084 44.6384 40 44.1498 40 43.6403V7.14033C40 6.2994 39.8432 5.46672 39.5387 4.68981C39.2341 3.9129 38.7877 3.20698 38.2249 2.61236C37.6621 2.01774 36.994 1.54606 36.2587 1.22425C35.5234 0.902448 34.7353 0.736816 33.9394 0.736816H6.06061ZM36.3636 41.7193H3.63636V7.14033C3.63636 6.461 3.89177 5.8095 4.34641 5.32914C4.80104 4.84878 5.41766 4.57892 6.06061 4.57892H33.9394C34.5823 4.57892 35.199 4.84878 35.6536 5.32914C36.1082 5.8095 36.3636 6.461 36.3636 7.14033V41.7193Z"
                        fill="#D1D2DB"
                      />
                    </svg>
                  </div>
                  <h2 class="heading">{secondSection.title}</h2>
                  <h4 class="description">{secondSection.description}</h4>

                  <div class="box-button">
                    <h4>READ MORE</h4>
                    <div class="arrow">
                      <svg
                        width="22"
                        height="24"
                        viewBox="0 0 22 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M21.0607 13.0607C21.6464 12.4749 21.6464 11.5251 21.0607 10.9393L11.5147 1.3934C10.9289 0.807611 9.97919 0.807611 9.3934 1.3934C8.80761 1.97919 8.80761 2.92893 9.3934 3.51472L17.8787 12L9.3934 20.4853C8.80761 21.0711 8.80761 22.0208 9.3934 22.6066C9.97919 23.1924 10.9289 23.1924 11.5147 22.6066L21.0607 13.0607ZM0 13.5H20V10.5H0V13.5Z"
                          fill="#D1D2DB"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            );
        })
      }
    </div>
  </div>
</section>

<script is:inline>
  document
    .getElementById("box")
    .scrollIntoView({ behavior: "instant", inline: "center" });
</script>

<style>
  .home-container {
    background-image: url("../../images/home-section-3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 85em;
    align-items: center;
    text-align: center;
  }
  .scroll-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 1em;
  }
  h1 {
    color: #fff;
    font-size: 2.4rem;
    margin: 0;
    padding-top: 1em;
  }

  h4.subheading {
    color: #adadad;
    font-size: 1.1rem;
    padding: 0 3em;
    line-height: 1.4em;
  }

  .icon {
    margin-top: 6em;
  }
  .box-container {
    position: relative;
    display: inline-block;
    margin: 0 10px;
  }
  .box-content {
    border-radius: 0.5em;
    border: 1px solid #6b6f8a;
    height: 50em;
    margin: auto;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 30em;
  }

  h2.heading {
    color: #d1d2db;
    font-size: 2rem;
    margin: 0.4em 0.5em 0.4em 0.5em;
  }
  h4.description {
    color: #adadad;
    font-size: 1.1rem;
    line-height: 1.4em;
    margin-top: 0.5em;
    padding: 0 2em;
  }

  .box-button {
    position: absolute;
    bottom: 2em;
    left: 20%;
    align-items: center;
    border-radius: 0.5em;
    border: 1px solid #6b6f8a;
    display: flex;
    flex-direction: row;
    height: 4em;
    padding: 0.2em 1.2em;
    margin: 4em auto 0 auto;
    width: 15em;
  }
  h4 {
    color: #d1d2db;
    font-size: 1.1rem;
    padding-right: 0.6em;
  }
  .scroll-container::-webkit-scrollbar {
    width: 12px;
  }
  .scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(148, 148, 148);
  }
</style>
