---
import "./styles/Header.scss";
import logo from "../../images/logo.png";
---

<header>
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src={logo} alt="Ardor Muntenia" />
      </a>
    </div>

    <div class="menu">
      <svg
        width="35"
        height="35"
        viewBox="0 0 35 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.375 6.5625H30.625V8.75H4.375V6.5625ZM4.375 26.25H30.625V28.4375H4.375V26.25ZM4.375 13.125H30.625V15.3125H4.375V13.125ZM4.375 19.6875H30.625V21.875H4.375V19.6875Z"
          fill="#EA2340"></path>
      </svg>
    </div>
  </div>
</header>
