---
---

<div class="container">
  <nav>
    <ul class="list">
      <li class="current"><a class="current-link"><h3>Home</h3></a></li>
      <li class="link-container">
        <a class="link link-1"><h3>Cine suntem?</h3></a>
      </li>
      <div class="subitems-link-1">
        <ul class="sublist">
          <li class="sublink-container">
            <a class="sublink"><h3>Viziune</h3></a>
          </li>
          <li class="sublink-container">
            <a class="sublink"><h3>Proiecte</h3></a>
          </li>
          <li class="sublink-container">
            <a class="sublink"><h3>Echipa</h3></a>
          </li>
          <li class="sublink-container">
            <a class="sublink"><h3>Sustinatori</h3></a>
          </li>
          <li class="sublink-container">
            <a class="sublink"><h3>Sustine-ne</h3></a>
          </li>
        </ul>
      </div>
      <li class="link-container">
        <a class="link link-2"><h3>Dezbateri</h3></a>
      </li>
      <li class="link-container">
        <a class="link link-3"><h3>Cum fac Dezbateri?</h3></a>
      </li>
      <li class="link-container">
        <a class="link link-4"><h3>Resurse Debate</h3></a>
      </li>
      <li class="link-container">
        <a class="link link-5"><h3>Contact</h3></a>
      </li>
    </ul>
  </nav>
</div>

<style is:inline>
  .current {
    background-color: #ea2340;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.3em 0.6em;
  }
  ul {
    padding: 0;
  }
  .list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .link-container {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0.5em 0.8em;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  h3 {
    margin: 0;
  }
  .link {
    color: #1c1d24;
    font-size: 1rem;
    cursor: pointer;
  }
  .link:hover {
    color: #ea2340;
  }

  .current-link {
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  .subitems-container {
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
  }

  .sublink {
    color: #1c1d24;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .sublink:hover {
    color: #ea2340;
  }
  .sublink-container {
    margin: 1.5em 0 1.5em 0;
  }

  .subitems-link-1 {
    background-color: #fff;
    position: absolute;
    margin-left: 7.5em;
    margin-top: 5em;
    padding-right: 5em;
    padding-left: 2em;
  }
  .sublist {
    list-style-type: none;
  }
</style>
