---
export interface Props {
  page: string;
}
const { page } = Astro.props;
const secondNavArray = [
  "viziune",
  "proiecte",
  "echipa",
  "sustinatori",
  "sustine",
];
---

<div class="container">
  <nav>
    <ul class="list">
      <li class={page === "home" ? "current" : "link-container"}>
        <a class={page === "home" ? "current-link" : "link"} href="/"
          ><h3>Home</h3>
        </a>
      </li>
      <div class="link-div-1">
        <li
          class={secondNavArray.includes(page) ? "current" : "link-container"}
        >
          <a
            class={secondNavArray.includes(page)
              ? "current-link"
              : "link link-1"}
            ><h3>Cine suntem?</h3>
          </a>
        </li>
        <div class="subitems-link subitems-link-1">
          <ul class="sublist">
            <li class="sublink-container">
              <a
                class={page === "viziune" ? "sublink-current" : "sublink"}
                href="/viziune"
                ><h3>Viziune</h3>
              </a>
            </li>
            <li class="sublink-container">
              <a
                class={page === "proiecte" ? "sublink-current" : "sublink"}
                href="/proiecte"
                ><h3>Proiecte</h3>
              </a>
            </li>
            <li class="sublink-container">
              <a
                class={page === "echipa" ? "sublink-current" : "sublink"}
                href="/echipa"
                ><h3>Echipa</h3>
              </a>
            </li>
            <li class="sublink-container">
              <a
                class={page === "sustinatori" ? "sublink-current" : "sublink"}
                href="/sustinatori"
                ><h3>Sustinatori</h3>
              </a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Sustine-ne</h3></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="link-div-2">
        <li class="link-container">
          <a class="link link-2"><h3>Dezbateri</h3></a>
        </li>
        <div class="subitems-link subitems-link-2">
          <ul class="sublist">
            <li class="sublink-container">
              <a class="sublink"><h3>Ce sunt?</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Beneficii</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Competiții</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Opurtunități</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Cursuri</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Opurtunități</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Cursuri</h3></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="link-div-3">
        <li class="link-container">
          <a class="link link-3"><h3>Cum fac Dezbateri?</h3></a>
        </li>
        <div class="subitems-link subitems-link-3">
          <ul class="sublist">
            <li class="sublink-container">
              <a class="sublink"><h3>Clubul</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Opțional DOR</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Profesioniști</h3></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="link-div-4">
        <li class="link-container">
          <a class="link link-4"><h3>Resurse Debate</h3></a>
        </li>
        <div class="subitems-link subitems-link-4">
          <ul class="sublist">
            <li class="sublink-container">
              <a class="sublink"><h3>Elevi</h3></a>
            </li>
            <li class="sublink-container">
              <a class="sublink"><h3>Profesori</h3></a>
            </li>
          </ul>
        </div>
      </div>

      <li class="link-container">
        <a class="link link-5"><h3>Contact</h3></a>
      </li>
    </ul>
  </nav>
</div>

<style is:inline>
  nav {
    padding-top: 1em;
  }
  .container {
    z-index: 100;
  }
  .current {
    background-color: #ea2340;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.6em 1.4em;
    margin-right: 1em;
  }
  ul {
    padding: 0;
  }
  .list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .link-container {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0.5em 0.6em;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  h3 {
    margin: 0;
  }
  .link {
    color: #1c1d24;
    font-size: 1rem;
    cursor: pointer;
  }
  .link:hover {
    color: #ea2340;
  }

  .current-link {
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  .subitems-container {
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
  }

  .sublink {
    color: #1c1d24;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .sublink:hover {
    color: #ea2340;
  }
  .sublink-container {
    margin: 1.5em 0 1.5em 0;
  }

  .sublink-current {
    color: #ea2340;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .subitems-link {
    display: none;
    background-color: #fff;
    position: absolute;
    margin-left: 1em;
    padding-right: 7em;
    padding-left: 2em;
  }
  .subitems-link-2 {
    padding-right: 4em;
  }
  .subitems-link-3 {
    padding-right: 9em;
  }
  .subitems-link-4 {
    padding-right: 9em;
  }
  .sublist {
    list-style-type: none;
  }
  .link-div-1:hover .subitems-link-1 {
    display: block;
  }
  .link-div-1:hover .link-1 {
    color: #ea2340;
  }
  .link-div-2:hover .subitems-link-2 {
    display: block;
  }
  .link-div-2:hover .link-2 {
    color: #ea2340;
  }
  .link-div-3:hover .subitems-link-3 {
    display: block;
  }
  .link-div-3:hover .link-3 {
    color: #ea2340;
  }
  .link-div-4:hover .subitems-link-4 {
    display: block;
  }
  .link-div-4:hover .link-4 {
    color: #ea2340;
  }
  .subitems-link-1:hover {
    display: block;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1160px) {
    .link-container {
      margin-left: 0.8em;
      margin-right: 0.8em;
      padding: 0.5em 0.6em;
    }
    .subitems-link {
      padding-right: 5em;
      padding-left: 2em;
    }
    .subitems-link-2 {
      padding-right: 2em;
    }
    .subitems-link-3 {
      padding-right: 9em;
    }
    .subitems-link-4 {
      padding-right: 9em;
    }
  }
</style>
