---
const { changeWidth } = Astro.props;
---

<footer>
  <div class="container">
    <h3 class="footer-heading">Follow us:</h3>
    <div class="icons">
      <div class="icon left">
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M25.7778 3.46546C24.8298 3.96658 23.8115 4.30518 22.7409 4.45822C23.8455 3.66969 24.6719 2.42863 25.066 0.966612C24.0281 1.70203 22.8923 2.21968 21.7078 2.49707C20.9112 1.48245 19.8562 0.809944 18.7065 0.583962C17.5567 0.357979 16.3766 0.591164 15.3493 1.24731C14.322 1.90346 13.5051 2.94586 13.0253 4.21268C12.5455 5.47949 12.4297 6.89985 12.6959 8.25322C10.593 8.12725 8.53578 7.47519 6.65779 6.33934C4.7798 5.20349 3.12299 3.60924 1.79489 1.66006C1.34077 2.59459 1.07966 3.6781 1.07966 4.83203C1.07915 5.87084 1.29358 6.89374 1.70392 7.80997C2.11427 8.7262 2.70784 9.50743 3.43197 10.0843C2.59217 10.0525 1.7709 9.78176 1.03652 9.29474V9.376C1.03643 10.833 1.45888 12.2451 2.23218 13.3728C3.00548 14.5005 4.082 15.2743 5.27907 15.5628C4.50002 15.8144 3.68325 15.8514 2.89044 15.6712C3.22818 16.9248 3.88608 18.0211 4.77202 18.8065C5.65796 19.5919 6.7276 20.0272 7.8312 20.0513C5.95779 21.8058 3.64414 22.7575 1.26244 22.7533C0.840543 22.7534 0.419007 22.724 0 22.6653C2.41756 24.5196 5.23178 25.5038 8.10593 25.5C17.8353 25.5 23.1541 15.8865 23.1541 7.54894C23.1541 7.27806 23.1485 7.00447 23.1382 6.73359C24.1728 5.84102 25.0659 4.73573 25.7755 3.46952L25.7778 3.46546Z"
              fill="#474A5C"></path>
          </svg>
        </a>
      </div>
      <div class="icon left">
        <svg
          width="15"
          height="28"
          viewBox="0 0 15 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="13.5671"
            y1="0.671998"
            x2="0.6691"
            y2="27.7578"
            stroke="#474A5C"></line>
        </svg>
      </div>
      <div class="icon left">
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            width="27"
            height="26"
            viewBox="0 0 27 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.7083 3.23438H4.18056C3.73498 3.23438 3.375 3.5835 3.375 4.01562V21.9844C3.375 22.4165 3.73498 22.7656 4.18056 22.7656H22.7083C23.1539 22.7656 23.5139 22.4165 23.5139 21.9844V4.01562C23.5139 3.5835 23.1539 3.23438 22.7083 3.23438ZM20.3823 8.93506H18.7737C17.5125 8.93506 17.2683 9.51611 17.2683 10.3706V12.2529H20.2791L19.8864 15.1997H17.2683V22.7656H14.1292V15.2021H11.5036V12.2529H14.1292V10.0801C14.1292 7.55811 15.7176 6.18359 18.0386 6.18359C19.1513 6.18359 20.1054 6.26416 20.3848 6.30078V8.93506H20.3823Z"
              fill="#474A5C"></path>
          </svg>
        </a>
      </div>
      <div class="icon left">
        <svg
          width="15"
          height="28"
          viewBox="0 0 15 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="13.5671"
            y1="0.671998"
            x2="0.6691"
            y2="27.7578"
            stroke="#474A5C"></line>
        </svg>
      </div>
      <div class="icon center">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.12908 1.6105C9.38897 1.55425 9.79067 1.54175 13 1.54175C16.2093 1.54175 16.611 1.55529 17.8699 1.6105C19.1287 1.66571 19.9879 1.8605 20.7398 2.14279C21.5271 2.43133 22.2413 2.88237 22.8321 3.46571C23.4336 4.03758 23.8976 4.72925 24.194 5.49383C24.4862 6.223 24.6859 7.05633 24.7439 8.27508C24.8019 9.49904 24.8148 9.88862 24.8148 13.0001C24.8148 16.1126 24.8009 16.5022 24.7439 17.724C24.687 18.9428 24.4862 19.7761 24.194 20.5053C23.8976 21.27 23.4328 21.9628 22.8321 22.5355C22.2413 23.1188 21.5271 23.5688 20.7398 23.8563C19.9879 24.1397 19.1287 24.3334 17.872 24.3897C16.611 24.4459 16.2093 24.4584 13 24.4584C9.79067 24.4584 9.38897 24.4449 8.12908 24.3897C6.87241 24.3345 6.01315 24.1397 5.2613 23.8563C4.47284 23.5688 3.75848 23.1181 3.16793 22.5355C2.56686 21.9633 2.10171 21.2708 1.80493 20.5063C1.51386 19.7772 1.31408 18.9438 1.25608 17.7251C1.19808 16.5011 1.18519 16.1115 1.18519 13.0001C1.18519 9.88758 1.19915 9.498 1.25608 8.27716C1.313 7.05633 1.51386 6.223 1.80493 5.49383C2.10215 4.72933 2.56765 4.03687 3.169 3.46466C3.75871 2.88185 4.47236 2.43075 5.26023 2.14279C6.01208 1.8605 6.87134 1.66675 8.128 1.6105H8.12908ZM17.7743 3.673C16.5283 3.61779 16.1546 3.60633 13 3.60633C9.84545 3.60633 9.47167 3.61779 8.22574 3.673C7.07326 3.72404 6.44815 3.9105 6.03141 4.06779C5.48041 4.27612 5.08623 4.523 4.67271 4.92404C4.28072 5.29389 3.97905 5.74413 3.78982 6.24175C3.62763 6.64591 3.43537 7.25216 3.38274 8.36987C3.32582 9.57821 3.314 9.94071 3.314 13.0001C3.314 16.0595 3.32582 16.422 3.38274 17.6303C3.43537 18.748 3.62763 19.3542 3.78982 19.7584C3.97886 20.2553 4.28067 20.7063 4.67271 21.0761C5.054 21.4563 5.51908 21.749 6.03141 21.9324C6.44815 22.0897 7.07326 22.2761 8.22574 22.3272C9.47167 22.3824 9.84437 22.3938 13 22.3938C16.1556 22.3938 16.5283 22.3824 17.7743 22.3272C18.9267 22.2761 19.5519 22.0897 19.9686 21.9324C20.5196 21.724 20.9138 21.4772 21.3273 21.0761C21.7193 20.7063 22.0212 20.2553 22.2102 19.7584C22.3724 19.3542 22.5646 18.748 22.6173 17.6303C22.6742 16.422 22.686 16.0595 22.686 13.0001C22.686 9.94071 22.6742 9.57821 22.6173 8.36987C22.5646 7.25216 22.3724 6.64591 22.2102 6.24175C21.9954 5.70737 21.7408 5.32508 21.3273 4.92404C20.9459 4.54391 20.4817 4.25134 19.9686 4.06779C19.5519 3.9105 18.9267 3.72404 17.7743 3.673V3.673ZM11.4909 16.5324C12.3337 16.8726 13.2722 16.9185 14.146 16.6623C15.0198 16.406 15.7748 15.8635 16.282 15.1274C16.7892 14.3913 17.0171 13.5072 16.9269 12.6262C16.8366 11.7452 16.4338 10.9219 15.7872 10.297C15.375 9.89745 14.8766 9.59155 14.3279 9.40128C13.7792 9.211 13.1938 9.14108 12.6139 9.19656C12.0339 9.25203 11.4739 9.43152 10.9741 9.72209C10.4743 10.0127 10.0471 10.4071 9.72333 10.877C9.39956 11.3469 9.18724 11.8806 9.10167 12.4396C9.01609 12.9987 9.05939 13.5691 9.22843 14.11C9.39748 14.6509 9.68808 15.1486 10.0793 15.5675C10.4705 15.9864 10.9526 16.3159 11.4909 16.5324ZM8.70585 8.8355C9.26977 8.2886 9.93924 7.85477 10.676 7.55879C11.4128 7.26281 12.2025 7.11047 13 7.11047C13.7975 7.11047 14.5872 7.26281 15.324 7.55879C16.0608 7.85477 16.7302 8.2886 17.2942 8.8355C17.8581 9.3824 18.3054 10.0317 18.6106 10.7462C18.9158 11.4608 19.0728 12.2266 19.0728 13.0001C19.0728 13.7735 18.9158 14.5394 18.6106 15.2539C18.3054 15.9685 17.8581 16.6178 17.2942 17.1647C16.1553 18.2692 14.6106 18.8897 13 18.8897C11.3894 18.8897 9.84473 18.2692 8.70585 17.1647C7.56698 16.0601 6.92716 14.5621 6.92716 13.0001C6.92716 11.4381 7.56698 9.94001 8.70585 8.8355V8.8355ZM20.4197 7.98758C20.5594 7.85974 20.6713 7.706 20.7487 7.53547C20.8261 7.36494 20.8674 7.18109 20.8702 6.9948C20.873 6.80851 20.8372 6.62357 20.765 6.45092C20.6928 6.27828 20.5856 6.12145 20.4497 5.98971C20.3139 5.85796 20.1522 5.754 19.9742 5.68395C19.7962 5.61391 19.6055 5.57922 19.4134 5.58194C19.2213 5.58465 19.0317 5.62472 18.8559 5.69976C18.68 5.77481 18.5215 5.88331 18.3897 6.01883C18.1333 6.2824 17.993 6.6325 17.9984 6.9948C18.0039 7.3571 18.1547 7.70308 18.4189 7.95929C18.6831 8.2155 19.0398 8.36178 19.4134 8.36706C19.7869 8.37234 20.1479 8.23622 20.4197 7.98758V7.98758Z"
              fill="#474A5C"></path>
          </svg>
        </a>
      </div>
      <div class="icon right">
        <svg
          width="15"
          height="28"
          viewBox="0 0 15 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="13.5671"
            y1="0.671998"
            x2="0.6691"
            y2="27.7578"
            stroke="#474A5C"></line>
        </svg>
      </div>
      <div class="icon right">
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            width="27"
            height="30"
            viewBox="0 0 27 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.4608 4.19995H5.64563C4.88931 4.19995 4.27554 4.89745 4.27554 5.75635V24.2415C4.27554 25.1016 4.88931 25.7999 5.64563 25.7999H21.4608C22.2177 25.7999 22.8355 25.1016 22.8355 24.2415V5.75635C22.8355 4.89745 22.2177 4.19995 21.4608 4.19995ZM9.78013 22.6061H7.02603V12.2985H9.78013V22.6061ZM8.40308 10.8891C8.19345 10.8891 7.98588 10.841 7.79222 10.7476C7.59856 10.6542 7.42261 10.5173 7.27443 10.3447C7.12624 10.1722 7.00873 9.9673 6.9286 9.74186C6.84847 9.51642 6.8073 9.27482 6.80744 9.03085C6.80744 8.53838 6.97554 8.06609 7.27475 7.71786C7.57397 7.36963 7.97979 7.174 8.40295 7.174C8.82611 7.174 9.23193 7.36963 9.53115 7.71786C9.83037 8.06609 9.99847 8.53838 9.99847 9.03085C9.99847 9.52342 9.83042 9.99583 9.53127 10.3443C9.23211 10.6927 8.82632 10.8887 8.40308 10.8891V10.8891ZM20.0902 22.6061H17.3405V17.5938C17.3405 16.398 17.3204 14.8605 15.9096 14.8605C14.4768 14.8605 14.2585 16.1628 14.2585 17.507V22.6065H11.5067V12.2985H14.1477V13.7061H14.1853C14.5529 12.8961 15.451 12.0414 16.7904 12.0414C19.5759 12.0414 20.0905 14.1756 20.0905 16.9521V22.6061H20.0902Z"
              fill="#474A5C"></path>
          </svg>
        </a>
      </div>
      <div class="icon right">
        <svg
          width="15"
          height="28"
          viewBox="0 0 15 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="13.5671"
            y1="0.671998"
            x2="0.6691"
            y2="27.7578"
            stroke="#474A5C"></line>
        </svg>
      </div>
      <div class="icon right">
        <a
          href="https://www.reddit.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M26 12.6673C26 10.785 24.6668 9.25415 23.0298 9.25415C22.3206 9.25415 21.6572 9.55231 21.1219 10.0738C21.1046 10.0861 21.0868 10.0977 21.0698 10.1102C19.1385 8.69026 16.5775 7.78354 13.7447 7.66044L15.4355 2.13474L19.6557 3.29429C19.6591 4.82744 20.7444 6.07401 22.0802 6.07401C23.4168 6.07401 24.5052 4.82413 24.5052 3.28734C24.5052 1.74988 23.4168 0.5 22.0802 0.5C21.064 0.5 20.1959 1.22207 19.8359 2.24064L14.836 0.867321L12.7596 7.64787C9.80561 7.71174 7.12858 8.63037 5.12534 10.098C4.58602 9.56025 3.91309 9.25382 3.19092 9.25382C1.55337 9.25382 0.222198 10.785 0.222198 12.6669C0.222198 13.8311 0.74482 14.9066 1.59167 15.5327C1.5376 15.8737 1.50937 16.2195 1.5073 16.5662C1.5073 21.4922 6.70271 25.5 13.0882 25.5C19.4748 25.5 24.6705 21.4922 24.6705 16.5662C24.669 16.2294 24.6428 15.8935 24.5922 15.5618C25.4618 14.9403 26 13.8493 26 12.6673V12.6673ZM17.0264 17.086C16.7868 17.0861 16.5495 17.0318 16.3282 16.9264C16.1068 16.821 15.9057 16.6665 15.7363 16.4717C15.5669 16.277 15.4326 16.0457 15.341 15.7912C15.2494 15.5368 15.2024 15.264 15.2026 14.9887C15.2026 14.5739 15.3097 14.1684 15.5103 13.8236C15.7109 13.4788 15.9959 13.21 16.3294 13.0514C16.6629 12.8928 17.0298 12.8513 17.3838 12.9324C17.7377 13.0134 18.0628 13.2132 18.318 13.5066C18.5731 13.8 18.7468 14.1738 18.8171 14.5806C18.8874 14.9875 18.8511 15.4091 18.7128 15.7923C18.5746 16.1754 18.3406 16.5028 18.0404 16.7331C17.7402 16.9634 17.3874 17.0862 17.0264 17.086ZM17.3895 20.662C17.3348 20.7261 16.0267 22.2573 13.0678 22.2573C10.0924 22.2573 8.90319 20.7056 8.85338 20.6388C8.77327 20.5307 8.7337 20.3905 8.7433 20.2489C8.75291 20.1073 8.81091 19.9759 8.90463 19.8833C8.99842 19.7919 9.1197 19.7464 9.24237 19.7567C9.36504 19.7669 9.4793 19.8321 9.56057 19.9382C9.58706 19.9726 10.5799 21.1861 13.0678 21.1861C15.5971 21.1861 16.7071 19.9293 16.7189 19.9171C16.8056 19.8189 16.9223 19.7636 17.044 19.7629C17.1658 19.7622 17.2829 19.8163 17.3704 19.9135C17.4579 20.0107 17.5089 20.1434 17.5125 20.2833C17.5161 20.4231 17.4719 20.559 17.3895 20.662V20.662ZM7.58497 14.9887C7.58079 14.7102 7.62491 14.4335 7.71477 14.1749C7.80463 13.9162 7.93843 13.6807 8.10835 13.4821C8.27827 13.2835 8.48091 13.1258 8.70445 13.0182C8.92798 12.9106 9.16793 12.8552 9.41028 12.8554C9.65263 12.8555 9.89253 12.9111 10.116 13.019C10.3394 13.1268 10.5419 13.2847 10.7117 13.4835C10.8815 13.6823 11.0151 13.9179 11.1047 14.1767C11.1943 14.4355 11.2382 14.7122 11.2338 14.9906C11.2251 15.5403 11.0289 16.064 10.6876 16.449C10.3462 16.8341 9.88688 17.0497 9.40855 17.0495C8.93022 17.0492 8.4711 16.8331 8.13004 16.4477C7.78898 16.0622 7.59324 15.5383 7.58497 14.9887V14.9887Z"
              fill="#474A5C"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="footer-info">
      <h4 class="company">ARDOR MUNTENIA</h4>
      <div class="footer-links">
        <div class="footer-links-left">
          <a>Home</a>
          <a>Cine suntem?</a>
          <a>Dezbateri</a>
        </div>
        <div class="footer-links-center">
          <a>Marius Cucereanu</a>
          <a class="second">Alexandru Romînu</a>
        </div>
        <div class="footer-links-right">
          <a>Cum fac dezbateri?</a>
          <a>Resurse Debate</a>
          <a>Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .container {
    width: 100%;
    height: 9em;
    background-color: #1c1d24;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* there is a spacing*/

  }
  .container-wider {
    width: 101%;
    height: 9em;
    background-color: #1c1d24;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-heading {
    color: #474a5c;
    font-size: 1.2rem;
    margin: 0.6em auto 0.6em auto;
  }
  .footer-info {
    display: none;
  }
  .icons {
    display: flex;
  }
  .icon {
    justify-self: center;
  }
  .left {
    margin-right: 1em;
  }
  .right {
    margin-left: 1em;
  }
  @media only screen and (min-width: 1024px) {
    .container {
      height: 12.6em;
    }
    .footer-heading {
      display: none;
    }
    .footer-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .footer-info a {
      color: #474a5c;
      cursor: pointer;
      text-decoration: none;
      font-size: 0.9rem;
    }
    .footer-info a:hover {
      color: #8c8fa6;
    }
    .footer-links {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 1em;
    }
    .footer-links-left {
      display: flex;
      margin-left: 10em;
    }
    .footer-links-left a {
      padding: 0 0.8em 0 0.8em;
    }

    .footer-links-right {
      display: flex;
    }
    .footer-links-right a {
      padding: 0 0.8em 0 0.8em;
    }
    .footer-links-center {
      display: flex;
    }
    .footer-links-center a {
      padding: 0 0.8em 0 0.8em;
    }
    .footer-links-center .second {
      padding: 0 0.8em 0 0.8em;
    }
    .icons {
      margin-top: 2em;
    }
    .left {
      margin-right: 5em;
    }
    .right {
      margin-left: 5em;
    }
    h4.company {
      color: #474a5c;
      font-size: 1.2rem;
      margin: 0.2em 0 0 0;
    }
    path:hover {
      fill: #8c8fa6;
    }
  }
</style>
