---
import Header from "../components/Header/Header.astro";

export interface Props {
  title: string;
  page: string;
}

const { title, page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header page={page} />
    <slot />
  </body>
</html>

<style>
    body {
    margin: 0;
    font-size: 10px;
    font-family: "Poppins-Bold", sans-serif;
    overflow-x: hidden;
  }
</style>